.container {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin-top: 10px;
  padding: 15px 25px;
  background-color: rgb(232, 130, 33);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  display: block;
}

.button:hover {
  background-color: #eb0808;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-top: 20px;
  transition: transform 0.3s ease;
  border: 10px solid #df0b0b;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background: #fff;
}

.image:hover {
  transform: scale(1.05);
}
